.card {
    height: 400px ;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--opiniones {
    background-color: rgb(241, 241, 241);
    gap: 30px;
}

.card__imagen {
    height: 170px;
    width: 100%;
    border-radius: 20px;
}

.card__titulo {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.card__texto {
    text-align: center;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.card--texto--platillos {
    color: orange;
    font-weight: 700;
}


.card--opiniones .card__imagen {
  width: 100px;
  height: 100px;
}

.--highlighted {
    border: 2px solid orange;
    background-color: rgb(248, 232, 201);
}